* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0 5%;
  z-index: 10;
  background: linear-gradient(to right, rgb(237, 33, 58), rgb(147, 41, 30));
  box-shadow: 3px 3px 5px black;
}
nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 1000;
  color: #fff;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 5px black;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 1em;
  font-size: 15px;
  font-weight: 700;
  color: gray;
  font-family: 'Righteous', cursive;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
  transition: 1s;
}
nav .links a:hover {
  text-shadow: none;
  transform: scale(1.2, 1.2);
  color: #fff;
}
nav .links a:active {
  color: black;
}
#nav_toggle {
  position: absolute;
  top: -100px;
}
nav .icon_burger {
  position: absolute;
  right: 5%;
  top: 50%;
  display: none;
  transform: translateY(-50%);
}
nav .icon_burger .line {
  width: 30px;
  height: 5px;
  background-color: #fee715ff;
  margin: 5px;
  border-radius: 3px;
}
#home,
#about,
#service,
#review {
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    z-index: 9;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 100%;
    top: 100px;
    flex-direction: column;
    width: auto;
    height: auto;
    overflow: hidden;
    background-image: url('https://image.freepik.com/free-vector/set-products-circle-healthy-food-fruits-vegetables-nuts-cartoon-flat_313437-278.jpg');
    transition: all 1s ease-in-out;
    background-size: cover;
  }
  nav .links a {
    font-size: 20px;
  }
  nav .links a:hover {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
  }
  nav .icon_burger {
    display: block;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav :checked ~ .icon_burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon_burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon_burger .line:nth-child(2) {
    opacity: 0;
  }
}
